html
{
	min-width: 1200px;
	position: relative;
	overflow-x: hidden;
}
body
{


	margin:0;
	padding:0;
	max-width: 1920;
}
div.header
{
	background-image: url("https://theaggie.org/wp-content/uploads/2017/05/kemper_ca_Jero_Real.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 2.6em;
	padding-top: 3em;
	height:50em;
	width:100%;
	position:absolute;
	z-index: -999;
	left:0px;
}

div.nav-elements
{
	font-family: Quicksand;
	position:absolute;
	left:5px;
	right:0px;
	top:0px;
	
}
div.nav-elements > h3
{
	position: relative;
	left: 18.5em;
	bottom:3.2em;
	font-weight: 200;
	font-size: 15px;
	width:50%;

}
div.new-nav > span
{
	position: relative;
	left: 35%;
	bottom:3.55em;
	font-weight: 400;
	font-size: 25px;
	padding-right: 1%;
	width:0%;


}

div.new-nav > span > img
{
	height: 1%;
	width:1%;
	top: .1em;
	position: relative;


}

h1
{
	margin-top: 0;
}
#about > span
{
	
	font-size: 50px;
	position: absolute;
}
#about > span:hover
{
	font-size: 50px;

}
#about
{
	position: relative;
	text-align: center;
	height: 20px;
	top: 56em;
	font-family: Quicksand;
	border-bottom-style: solid;
	padding-bottom: 32px;
	padding-right:100px;


	width: 60%;
	left: 12.5%;


}
#about > p
{
	font-size: 25px;
	
	
	width:130%;
	padding-bottom: 40px;
	
	margin-left: -7%;


}
#members 
{
	background-image: url("../images/Branches.png");
	height: 5500%;
	width:190%;

	position:relative;
	left:-44.25%;
	z-index: -999;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50% 0%;
	background-attachment: fixed;
	margin-bottom: -50%;
	background-color: rgb(249,240,241);


	
}

#contact
{
	position: relative;
	font-size:50px;
	font-family: Quicksand;
	top:80em;
	left:13.5%;
	width:20%;
	text-align: center;
	padding-right: 28%;
	padding-left:28%;
	border-bottom-style: solid;
	

}
#contact-text
{
	position: relative;
	font-family: Quicksand;
	top:134em;
	font-size:30px;
	left:36%;
	width:40%;
}
#member-profiles
{
	height:50em;
	width: 100%;
	margin-top: 141em;
}
#phillip
{
	background-image: url("../images/Phill.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 55%;
	
	height:60%;
	width:25%;
	top:5em;
}
.left-name
{
	position: relative;
	font-size: 200%;
	font-family: Quicksand;
	left: 100%;
	border-bottom-style: solid;
}
.left-desc
{
	position: relative;
	font-family: Quicksand;
	top:-5%;
	left: 100%;
	font-size: 100%

}
#rico
{
	background-image: url("../images/rico.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 120%;
	background-position: 10% 50%;
	transform: scaleX(-1);
	
	height:60%;
	width:25%;
	top:5em;
	left:74%;


}
.right-name
{
	position: relative;
	transform:scaleX(-1);
	left:100%;
	text-align: right;
	font-size: 200%;
	font-family: Quicksand;
	border-bottom-style: solid;
}
.right-desc
{
	position: relative;
	transform:scaleX(-1);
	left:100%;
	text-align: right;
	font-size: 100%;
	font-family: Quicksand;

	top:-5%;
}
#claudia
{
	background-image: url("../images/Claudia.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 70% 20%;
	
	height:60%;
	width:25%;
	top:5em;
}
#viv
{
	background-image: url("../images/viv.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 130%;
	background-position: 10% 40%;
	transform: scaleX(-1);
	
	height:60%;
	width:25%;
	top:5em;
	left:74%;
}
#arm
{
	background-image: url("../images/arm.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: 0% 17%;
	
	height:60%;
	width:25%;
	top:5em;
}
#zuhayer
{
	background-image: url("../images/zuhayer.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: 10% 5%;
	transform: scaleX(-1);
	
	height:60%;
	width:25%;
	top:5em;
	left:74%;
}
#brian
{
	background-image: url("../images/brian.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: 0% 10%;
	
	height:60%;
	width:25%;
	top:5em;
}
#chris
{
	background-image: url("../images/chris.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 10% 40%;
	transform: scaleX(-1);
	
	height:60%;
	width:25%;
	top:5em;
	left:74%;
}
#eric
{
	background-image: url("../images/eric.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 10%;
	
	height:60%;
	width:25%;
	top:5em;
}
.wrapper
{
	
	margin: 0px auto;
	max-width: 100%;


}

/*
*
{
	border:1px solid black;
}


*/
