html
{
	min-width: 1200px;
	position: relative;
	overflow-x: hidden;
	
}
body
{


	margin:0;
	padding:0;
	max-width: 1920;
}
h1
{
	margin-top: 0;
	border-bottom-style: solid;
	background-color: white;
	border-width: 1px;
}


a:link
{
	
	color: rgb(0,0,0);
	text-decoration: none;
}
a:visited
{

	color: rgb(0,0,0);
	text-decoration: none;
}
a:hover
{

	color: rgb(0,0,0);
	text-decoration: none;
}
a:active
{

	color: rgb(0,0,0);
	text-decoration: none;
}
#title
{
	background-color: white;
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;	
	margin-top: 0;
	border-bottom-style: solid;
	border-width: 1px;
	cursor:pointer;
}
div.nav-elements
{
	font-family: Quicksand;
	position:absolute;
	left:5px;
	right:0px;
	top:0px;
	
}
div.nav-elements > h3
{
	position: relative;
	left: 18.5em;
	bottom:3.2em;
	font-weight: 200;
	font-size: 15px;
	width:50%;

}
div.new-nav > span
{
	cursor:pointer;
	position: relative;
	left: 35%;
	bottom:3.65em;
	font-weight: 400;
	font-size: 25px;
	padding-right: 1%;
	width:0%;
}
div.new-nav > span > img
{
	height: 1%;
	width:1%;
	top: .1em;
	position: relative;
}

#test
{

	position: relative;
	left: 35%;
	bottom:3.35em;
	font-weight: 550;
	font-size: 27px;
	padding-right: 20%;
	width:0%;
}
#about
{
	position: relative;

}

#about-container
{

	height:34em;
	width: 30%;
	top:15em;
	margin-top: 10em;
	margin-left:73.7%;



	
}

#about-me-image
{
	background-image: url("../images/Phill-branch.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 2.5em 50%;
	height: 105%;
}
#about-me-heading
{
	font-family: Quicksand;
	position: relative;
	font-size: 30px;

	width: 80%;

	text-align: center;
	border-bottom-style: solid;

	border-width: 1px;



}
#about-me-text
{
	font-family: Quicksand;
	font-size: 20px;
	background-color: white;
	width:80%;
	text-align: center;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
	box-shadow:        -5px -2px 15px #888888;
}
.shadow {
	position: relative;
	margin-top:-620px;
	left:1%;
	width: 800px;
	height: 1180.5px;
	background-color: white;
	
	box-shadow:        5px 5px 15px #888888;
}
.titanic
{
	background-image: url("../images/titanic.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: -15% -5%;
	height: 25%;
}
.income
{
	background-image: url("../images/income.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: -15% -5%;
	height: 25%;
}
.blog-post
{
	font-size:30px;
	font-family: Quicksand;
	border-bottom-style: solid;
	width:40%;
	border-width: 1px;
}
.blog-entry
{
	position: relative;
	right:-40%;
	font-size:20px;
	font-family: Quicksand;

	
	width:40%;
	border-width: 1px;
}
#blog-title
{
	position: relative;
	right:-40%;
}


/*
*
{
	border-style: solid;
	border-width: 1px;
}
*/




